<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <img src="{{product.get_first_picture}}" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3>{{product.name}}</h3>
          <h5>PLN{{product.price}}</h5>
        </div>
      </div>
      <form action="{%url 'products:product_payment'%}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>
